<!DOCTYPE html>
<html>
<head lang="en">

    <link rel="stylesheet" href="../bower_components/foundation/css/foundation.css"/>

    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div ng-app="">
    <input type="text" ng-model="message"/>

    <h1>{{message}}</h1>

    <!--İkinci controller kapsamındadır işlemler-->
    <div ng-controller="firstController">
        <input type="text" ng-model="message"/>

        <h1>{{message}}</h1>
    </div>

    <!--Üçüncü controller kapsamındadır işlemler-->
    <div ng-controller="secondController">
        <input type="text" ng-model="message"/>

        <h1>{{message}}</h1>
    </div>
    <p>That bind evrywhere, değer her yere bağladık</p>

    <div ng-app="">
        <input type="text" ng-model="data.message"/>

        <h3>{{data.message}}</h3>

        <!--İkinci controller kapsamındadır işlemler-->
        <div ng-controller="firstController">
            <input type="text" ng-model="data.message"/>

            <h1>{{data.message}}</h1>
        </div>

        <!--Üçüncü controller kapsamındadır işlemler-->
        <div ng-controller="secondController">
            <input type="text" ng-model="data.message"/>

            <h1>{{data.message}}</h1>
        </div>


    </div>


</body>
<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</html>